.box{}
.boxleft{
    width: 70%;
    box-sizing: border-box;
    /* background: rgb(216, 114, 114); */
    float: left;
}
.boxright{
    width: 30%;
    box-sizing: border-box;
    /* background: rgb(55, 161, 28); */
    padding: 15px;
    float: left;
    min-width: 160px;
    max-width: 200px;
}

.box label{
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 14px;
    line-height: 1.5;
    display: block;
    font-weight: 600;
    margin: 15px 0;
}
.box input[type='text'],input[type='email']{
    background-color: #fafbfc;
    margin-right: 5px;
    max-width: 100%;
    width: 80%;
    background-color: #fff;
    background-position: right 8px center;
    background-repeat: no-repeat;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
    color: #24292e;
    font-size: 16px;
    line-height: 20px;
    min-height: 20px;
    outline: none;
    padding: 6px 8px;
    vertical-align: middle;
}
.box textarea{
    height: 5.35em;
    min-height: 0;
    width: 80%;
    background-color: #fff;
    background-position: right 8px center;
    background-repeat: no-repeat;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
    color: #24292e;
    font-size: 16px;
    line-height: 20px;
    min-height: 20px;
    outline: none;
    padding: 6px 8px;
    vertical-align: middle;
    display: block;
}
.Avatar{
    width: 200px;
    /* height: 200px; */
    max-height: 300px;
    min-height: 120px;
    border: #d1d5da solid 1px;
}
.updateavatar{
    width: 100%;
}
.title{
    font-size: 24px;
    font-weight: 400;
    border-bottom: 1px solid gainsboro
}
.submitbtn{
    background-color: #28a745;
    background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
    color: #fff;
    background-position: -1px -1px;
    background-repeat: repeat-x;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: .25em;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 12px;
    position: relative;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    margin-top: 10px;
}
