.mainbody{
    width: 60%;
    /* height: 1000px; */
    margin:0 auto;
    padding-top: 100px;
    /* background-color: #74eb45; */
}
.left{
    width: 73%;
    /* background-color: #0f13d3; */
    float: left;
}
.right{
    width: 27%;
    background-color: #d30f39;
    float: right;
}
.clear{
  clear: both;
}
.author{
  margin: 30px 0 40px;
  box-sizing: border-box;
}
.avatar{
  width: 48px;
  height: 48px;
  vertical-align: middle;
  display: inline-block;
}
.avatar img{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 50%;
}
.info{
  vertical-align: middle;
  display: inline-block;
  margin-left: 8px;
  box-sizing: border-box;
}
.authorName{
  margin-right: 3px;
    font-size: 16px;
    vertical-align: middle;
    box-sizing: border-box;
}
.authorName a{
  color: #2f2f2f;
}
.meta{
  
  margin-top: 5px;
    font-size: 12px;
    color: #969696;
    box-sizing: border-box;
}
.edit{
  float: right;
    margin-top: 8px;
    padding: 0 12px;
    font-size: 14px;
    border: 1px solid #dcdcdc;
    color: #9b9b9b;
    line-height: 30px;
    border-radius: 50px;
}
.textcontainner{
  /* background-color: #fcfaf2; */
}

/* .textcontainner{
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}

 table 样式
.textcontainner table {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
.textcontainner  table td,
  table th {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 3px 5px;
  }
.textcontainner  table th {
    border-bottom: 2px solid #ccc;
    text-align: center;
  }
  
  blockquote 样式
.textcontainner blockquote {
    display: block;
    border-left: 8px solid #d0e5f2;
    padding: 5px 10px;
    margin: 10px 0;
    line-height: 1.4;
    font-size: 100%;
    background-color: #f1f1f1;
  }
  
  code 样式
  .textcontainner  code {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 0 3px;
  }
  .textcontainner pre code {
    display: block;
  }
  
  ul ol 样式
  .textcontainner  ul, ol {
    margin: 10px 0 10px 20px;
  }  */